body
{
  background-color: #38354a;
  color: white;
}
#container
{
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
#logo
{
  letter-spacing: 10px;
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Audiowide', cursive;
  text-align: center;
  color: #ff2b59;
}
#intro
{
  font-family: 'Cantata One', serif;
  font-size: 16px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 4px dashed #ff2b59;
  border-bottom: 4px dashed #ff2b59;
  /*granatowy #595c78*/
}
#menu
{
  margin-top: 15px;
  margin-bottom: 50px;
  background-color: #272940;
}
#centrum
{
  margin-top: 30px;
  width: 700px;
}
.wykrzyknik
{
  font-size: 20px;
}
.menuG
{
  float: left;
  font-family: 'Cantata One', serif;
  font-size: 17px;
  padding: 20px;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
  width: 141px;
  color: #ffffff;
}
.menuG:hover
{
  background-color: #ff2b59;
  cursor: pointer;
}
.mem
{
  margin-top: 40px;
  background-color: #2e2b3d;
  padding-bottom: 40px;
}
.tytul
{
  font-family: 'Cantata One', serif;
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left:40px;
}
.tagi
{
  font-family: 'Cantata One', serif;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  font-size: 12px;
  border-top: 2px dashed #d16079;
  text-align: center;
  background-color: #1c1a26;
}
.obrazek
{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}
